@model EmployeeManagementApp.Models.loginuser

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

以下の内容を削除してよろしいですか？
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            ••••••••
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="削除" class="btn btn-danger" /> |
            @Html.ActionLink("ログインユーザ一覧に戻る", "Index")
        </div>
    }
</div>
