@model EmployeeManagementApp.Models.loginuser

@{
    ViewBag.Title = "Details";
}

<h2>詳細</h2>

<div>
    <h4>ログインユーザ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            ••••••••
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("変更", "Edit", new { id = Model.id }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("ログインユーザ一覧に戻る", "Index", "User", new { @class = "btn btn-primary" })
</p>
