@model EmployeeManagementApp.Models.loginuser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>loginuser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            ••••••••
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編集", "Edit", new { id = Model.id }) |
    @Html.ActionLink("ログインユーザ一覧に戻る", "Index")
</p>
