@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>部門削除</title>
</head>
<body>
    <h2>部門削除</h2>
    <p>以下の内容を削除してよろしいですか？</p>
    <table border="1">
        <tr><th>ID</th><td>@ViewBag.model.id</td></tr>
        <tr><th>部門名</th><td>@ViewBag.model.name</td></tr>
        <tr><th>基本給与</th><td>@ViewBag.model.salarybase</td></tr>
        <tr><th>電話番号</th><td>@ViewBag.model.phonenumber</td></tr>
        <tr><th>責任者ID</th><td>@ViewBag.model.leaderid</td></tr>
    </table>

    <form action="/Department/Delete2" method="post">
        <input name="id" type="hidden" value="@ViewBag.model.id" />
        <input type="submit" value="削除する" />
    </form>

</body>
</html>

