<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>部門削除</title>
</head>
<body>
    <div style="text-align:center">
        <h2>部門削除</h2>
        <p>以下の部門情報を削除しました。</p>

        <table style="width:700px;margin:30px auto" border="2" class="table table-bordered,table table-condensed">
            <tr class="info"><th>ID</th><td>@ViewBag.model.id</td></tr>
            <tr><th>部門名</th><td>@ViewBag.model.name</td></tr>
            <tr class="info"><th>基本給与</th><td>@ViewBag.model.salarybase</td></tr>
            <tr><th>電話番号</th><td>@ViewBag.model.phonenumber</td></tr>
            <tr class="info"><th>責任者ID</th><td>@ViewBag.model.leaderid</td></tr>
        </table>
        <br>
        @Html.ActionLink("部門一覧へ", "List", "Department", new { @class = "btn btn-primary" })
    </div>

</body>
</html>