
@{
    Layout = null;
}

<title>部門一覧</title>
<h2>部門一覧</h2>
<p>@Html.ActionLink("新規登録", "Add1")</p>

<table border="1">
    <tr>
        <th>部門名</th>
        <th>基本給与</th>
        <th>電話番号</th>
        <th>代表者ID</th>
    </tr>

    @foreach (var department in ViewBag.model)
    {
        <tr>
            <td>@department.name</td>
            <td>@department.salarybase</td>
            <td>@department.phonenumber</td>
            <td>@department.leaderid</td>
            <td>
                @Html.ActionLink("変更", "Update", new { id = department.id }) |
                @Html.ActionLink("削除", "Delete", new { id = department.id })
            </td>
        </tr>
    }
</table>