
@{
    ViewBag.Title = "Update2";
}

<h2>部門更新</h2>
<p>以下の内容に変更されました。</p>

<table>
    <tr><td>ID</td><td>@ViewBag.Id</td></tr>
    <tr><td>部門名</td><td>@ViewBag.Name</td></tr>
    <tr><td>給与基準額</td><td>@ViewBag.SalaryBase</td></tr>
    <tr><td>電話番号</td><td>@ViewBag.PhoneNumber</td></tr>
    <tr><td>責任者ID</td><td>@ViewBag.LeaderId</td></tr>
</table>

