
@{
    ViewBag.Title = "Add2";
}

<h2>社員登録</h2>
<p>以下の内容で登録されました。</p>

<table>
    <tr><td>ID</td><td>@ViewBag.Id</td></tr>
    <tr><td>名前</td><td>@ViewBag.Name</td></tr>
    <tr><td>給与</td><td>@ViewBag.Salary</td></tr>
    <tr><td>誕生日</td><td>@ViewBag.Birthday</td></tr>
    <tr><td>入社日</td><td>@ViewBag.Entryday</td></tr>
    <tr><td>部署ID</td><td>@ViewBag.DepartmentId</td></tr>
</table>
