<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>社員詳細</title>
</head>
<body>
    <h2 style="text-align:center">社員詳細</h2>
    <table style="width:300px; margin:auto" class="table table-bordered table-hover table-striped">
        <tr><th style="text-align:center">ID</th><td>@ViewBag.model.id</td></tr>
        <tr><th style="text-align:center">名前</th><td>@ViewBag.model.name</td></tr>
        <tr><th style="text-align:center">部門ID</th><td>@ViewBag.model.departmentid</td></tr>
        <tr><th style="text-align:center">誕生日</th><td>@ViewBag.model.birthday</td></tr>
        <tr><th style="text-align:center">入社日</th><td>@ViewBag.model.entryday</td></tr>
        <tr><th style="text-align:center">給与［万］</th><td>@ViewBag.model.salary</td></tr>
    </table>
    <br>
    <p style="text-align:center">
        [<a href="/Employee/Update1/@ViewBag.model.id">
             <span class="text-primary mgr-10"> 更新</span>
        </a>]　
        [<a href="/Employee/Delete1/@ViewBag.model.id">
            <span class="text-primary mgr-10">削除</span>
        </a>]　
        [<a href="/Employee/List">
            <span class="text-primary mgr-10">戻る</span>
        </a>]
    </p>
</body>
</html>