@model EmployeeManagementApp.Models.employee

@{
    ViewBag.Title = "Update1";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>社員情報更新</title>
</head>
<body>
    <div>
        <h1>社員情報更新</h1>
        以下の項目を入力してください。
    </div>
</body>
</html>


<form action="/Employee/Update2" method="post">
    <input type="hidden" name="id" value="@Model.id" />
    <table border="1">
        <tr>
            <th>名前</th>
            <th><input type="text" name="name" value="@Model.name" /> </th>
        </tr>
        <tr>
            <th>給与</th>
            <th><input type="text" name="salary" value="@Model.salary" /> </th>
        </tr>
        <tr>
            <th>誕生日</th>
            <th><input type="text" name="birthday" value="@Model.birthday" /> </th>
        </tr>
        <tr>
            <th>入社日</th>
            <th><input type="text" name="entryday" value="@Model.entryday" /> </th>
        </tr>
        <tr>
            <th>部署ID</th>
            <th><input type="text" name="departmentid" value="@Model.departmentid" /> </th>
        </tr>
    </table>
    <input type="submit" value="更新" />
</form>
