
@{
    ViewBag.Title = "Update2";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>社員情報更新結果</title>
</head>
<body>
    <h2>社員情報更新結果</h2>
    <p>以下の内容に変更されました。</p>
    <table class="table">
        <tr>
            <th scope="col">名前</th>
            <th scope="col">@Model.name</th>
        </tr>
        <tr>
            <th scope="col">給与</th>
            <th scope="col">@Model.salary</th>
        </tr>
        <tr>
            <th scope="col">誕生日</th>
            <th scope="col">@Model.birthday</th>
        </tr>
        <tr>
            <th scope="col">入社日</th>
            <th scope="col">@Model.entryday</th>
        </tr>
        <tr>
            <th scope="col">部署ID</th>
            <th scope="col">@Model.departmentid</th>
        </tr>
    </table>
    <br>
    @Html.ActionLink("社員一覧へ", "List", "Employyee")
</body>
</html>
